<!doctype html>
<html>
    <head>
        <title>Page not found</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            {{notFoundMessage}}
        </div>
        <div class="footer">
            {{>footer}}
        </div>
    </body>
</html>