<!doctype html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       <div class="main-container">
            {{>header}}
            <h3>{{aboutname}}</h3>
            <img src="/img/me.png" width="250">
            <p>{{abouttext}}</p>
        </div>
        <div class="footer">
            {{>footer}}
        </div>        
    </body>
</html>